/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
    html {
      font-size: 56.12%;
    }
     body,
    html {
      overflow-x: hidden;
    } 
    .logo-search {
      gap: 6rem;
    }
    .facility-part {
      padding: 0;
    }
    /* .deal-img-2 {
      height: 31.5rem;
    } */
    .deals-banner-section {
      padding-bottom: 6rem;
    }
    .logo-img {
      height: 4.2rem;
      width: 4.1rem;
    }
    .logo-name {
      font-size: 2.9rem;
    }
    .latter-text-1 {
      font-size: 3.1rem;
    }
    .latter-text-2 {
      font-size: 1.8rem;
    }
    /* .latter-section-content {
      left: 61.7rem;
    } */
    .facility-text p {
      font-size: 1.3rem;
    }
    .footer-2 {
      font-size: 1.6rem;
    }
    .head-2 {
      font-size: 4rem;
    }
    .hero-text,
    .heading-3 {
      font-size: 2rem;
    }
    .heading-1,
    .heading-2 {
      font-size: 4rem;
    }
    /* .collection-img-2 {
      height: 40rem;
    } */
  }
  
  @media (max-width: 80em) {
    .logo-name {
      font-size: 2.6rem;
    }
    /* .collection-img-1 {
      width: 53rem;
    } */
    .search-bar {
      width: 44rem;
    }
    .btn-deal {
      /* top: 21.7rem; */
      left: 2.7rem;
    }
    .deal-text {
      top: 4.8rem;
      left: 2.2rem;
    }
    .collection-img-1 {
      margin-right: 8rem;
    }
  
    /* .collection-img-2 {
      height: 31rem;
    } */
     /* Hala */
    /* .popular-categorie {
      width: 89vw;
    } */
    /* Hala */
    .deals-container {
      /* padding: 4rem; */
      gap: 1.5rem;
    }
    /* .deal-img-2 {
      width: 54rem;
      height: 29rem;
    } */
    .hero-img {
      right: -8rem;
    }
    /* .popular-container {
      gap: 0;
    } */
    .list-item a {
      font-size: 1.6rem;
    }
    /* .deal-img-1 {
      width: 54rem;
    } */
     /* Hala */
    /* .trend-container {
      width: 24rem;
      height: 38.2rem;
    }
    .trend-product {
      width: 25rem;
    } */
    /* Hala */
    /* .heart-icon {
      right: 0.9rem;
    } */
     /* Hala */
    /* .popular-image {
      width: 19rem;
    }
    .popular-text {
      width: 83%;
    } */
    /* Hala */
  }
  
  @media (max-width: 75.12em) {
    html {
      /* 9px / 16px  */
      font-size: 56.25%;
    }
    .search-bar {
      width: 37rem;
    }
    /* .latter-section-content {
      left: 58.7rem;
    } */
    .logo-search {
      gap: 13rem;
    }
    .head-1 {
      font-size: 1.8rem;
    }
    .head-2 {
      font-size: 3.6rem;
      line-height: 1;
    }
    .hero-text {
      font-size: 1.9rem;
    }
    .btn {
      width: 22%;
    }
    .btn p {
      font-size: 1.9rem;
      line-height: 32.4px;
    }
  
    .heading-1,
    .heading-2,
    .trend-heading-1 {
      font-size: 3.8rem;
    }
    .heading-3,
    .trend-heading-2 {
      font-size: 2rem;
    }
    .collection-container {
      padding: 8.6rem 8.6rem 8.6rem 9.6rem;
    }
    .latter-text-1 {
      font-size: 2.6rem;
    }
  
    .deal-text {
      top: 3.8rem;
      left: 3.2rem;
      font-size: 3rem;
    }
    .btn-deal {
      /* top: 21.7rem; */
      left: 2.7rem;
      padding: 1rem 1.8rem 1rem 1.8rem;
      gap: 1rem;
      font-size: 2rem;
    }
    .footer-head {
      font-size: 2.7rem;
    }
    .footer-item {
      font-size: 1.8rem;
    }
  }
  @media (max-width: 68em) {
    html {
      font-size: 50%;
    }
    .hero-img {
      right: -14rem;
      bottom: -10rem;
    }
    .facility-section {
      padding: 3rem 6rem;
    }
    .categories {
      padding: 0;
    }
    .hero-head {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .switch-img {
      width: 7.5rem;
      height: 3.1rem;
    }
    /* Hala */
    /* .trend-product {
      width: 24rem;
    } */
    /* Hala */
  
    .facility-section {
      justify-content: none;
    }
    .collection-container {
      padding: 6.6rem 6.6rem 6.6rem 7.6rem;
    }
    .collection-image {
      justify-content: center;
    }
    .collection-img-1 {
      margin-right: 3rem;
    }
    /* .heart-icon {
      right: 1rem;
    } */
    .rating {
        /* Hala */
      /* bottom: 10rem; */
      /* Hala */
    }
    .latter-text-1 {
      font-size: 2.8rem;
    }
    .latter-text-2 {
      font-size: 1.5rem;
    }
    .deal-input {
      font-size: 1.2rem;
      padding: 1rem;
    }
    .latter-section-content {
      /* left: 53rem; */
      top: 4.2rem;
    }
    .latter-img-2 {
      width: 100%;
    }
    /* .deal-img-2 {
      width: 55rem;
    } */
    .facility-text p {
      font-size: 1.3rem;
    }
    .footer-item {
      padding: 0.5rem 0;
    }
    .trend-container-section {
      padding-left: 1rem;
    }
  }
  
  /**************************/
  /* BELOW 944px (Tablets) */
  /**************************/
  
  @media (max-width: 60em) {
    html {
      font-size: 43.75%;
    }
    .btn-icon-image {
      margin-top: 10.5px;
    }
    .deal-text {
      top: 1.8rem;
      left: 2.2rem;
    }
    .btn-deal {
      padding: 1rem 1.2rem 1rem 1.2rem;
    }
    .latter-btn {
      padding: 1.2rem 1.6rem;
    }
    .deal-input {
      font-size: 1.3rem;
      padding: 0 1rem;
    }
    /* .deal-img-2 {
      height: 30rem;
    } */
    .hero-image {
      width: 100%; /* Make it responsive to its container */
      max-width: 79rem; /* Limit maximum width */
      height: auto; /* Maintain aspect ratio */
    }
    .hero-img {
      /* vertical-align: middle; */
      bottom: -4rem;
      right: 2rem;
    }
    .latter-section-content {
      top: 2.9rem;
      gap: 2.2rem;
    }
    .footer-section-1 {
      gap: 3.2rem;
      padding-top: 2rem;
    }
    .footer-section-2 {
      gap: 2.2rem;
    }
    .footer-3 {
      gap: 1px;
    }
  
    /* .heading-1,
    .heading-2,
    .heading-3 {
      line-height: 0;
    } */
  }
  
  @media (max-width: 53em) {
    html {
      font-size: 37.55%;
    }
    .category-icon {
      margin-top: 0.8rem;
    }
    .hero-text {
      line-height: 24.4px;
    }
    .deals-container {
      /* padding: 7rem; */
    }
    .deal-text {
      line-height: 27.2px;
    }
    .btn-deal {
      /* top: 18.7rem; */
      left: 1.7rem;
    }
  
    .latter-section-content {
      top: 1.9rem;
      /* left: 52rem;
       */
    }
    .facility-img {
      padding-top: 4px;
    }
    .facility-section {
      gap: 1.6rem;
      padding: 3rem 9rem;
    }
    /* .popular-container {
      padding: 0;
    } */
    /* .deal-img-1 {
      width: 50rem;
    } */
    /* .deal-img-2 {
      height: 28rem;
      width: 50rem;
    } */
    .trend-text {
      padding: 0rem 0.5rem;
    }
    .hero-img {
      right: -3rem;
    }
    /* Hala */
    /* .popular-1 {
      width: 21rem;
    }
    .popular-text {
      width: 90%;
    } */
    /* Hala */
    .footer-section-1 {
      padding-top: 3rem;
    }
    .latter-text-1 {
    }
  }
  
  @media (max-width: 46em) {
    .deals-container {
      /* padding: 5rem; */
    }
    html {
      font-size: 31.25%;
    }
    .logo-search {
      gap: 15rem;
    }
    .category-icon {
      margin-top: 1rem;
    }
    .rating {
      gap: 2px;
      left: 5px;
    }
    .deals-banner-section {
      padding-top: 7rem;
    }
    /* .deal-img-2 {
      /* height: 31rem;
      width: 55rem;
    } */
    .btn-deal {
      padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    }
    /* .deal-img-1 {
      width: 57rem;
    } */
    .latter-section-content {
      top: 0.9rem;
      /* left: 53rem; */
    }
    .footer-section-1 {
      padding-top: 4rem;
    }
    .latter-text-2 {
      font-size: 2rem;
    }
    .trend-text-1 {
      line-height: 15px;
    }
    .trend-text-2 {
      line-height: 10px;
      margin-bottom: 0;
    }
    .trend-text-3 {
      line-height: 30px;
    }
    .trend-heading-1 {
      line-height: 40px;
    }
    .footer-item {
      font-size: 2.4rem;
    }
    .latter-text-1 {
      font-size: 3.2rem;
    }
  }
  
  @media (max-width: 40rem) {
    html {
      font-size: 25%;
    }
    .latter-section-content {
      top: 0.2rem;
      /* left: 51rem; */
    }
    .logo-search {
      gap: 9rem;
    }
    .facility-text p {
      font-size: 1.8rem;
    }
    .facility-image {
      width: 12rem;
    }
    .latter-header {
      gap: 0;
    }
    .popular-text-1,
    .popular-text-2,
    .popular-text-3,
    .btn-deal,
    .deal-input {
      line-height: 20px;
    }
    .latter-text-2 {
      line-height: 17px;
    }
    .deal-input {
      font-size: 1.9rem;
    }
  
    .footer-2 {
      font-size: 2.6rem;
      gap: 0.2rem;
      margin-bottom: 3rem;
    }
    .footer-section-1 {
      margin-right: 2rem;
    }
    .btn-deal {
      /* top: s21.7rem; */
      padding: 0;
      font-size: 1.8rem;
      /* left: 1.7rem; */
    }
    .category-icon {
      margin-top: 1.4rem;
    }
  }
  
  @media (max-width: 33rem) {
    .container-nav {
      padding: 2rem 5.5rem;
    }
    .container-nav-2 {
      padding: 2rem 4.5rem;
    }
    .h-2 {
      gap: 4rem;
    }
    .list-item a {
      font-size: 1.6rem;
    }
    .small-img {
      display: none;
    }
    .hero-container-text {
      width: none;
    }
    .hero-image {
      max-width: 69rem;
    }
    .latter-text-1 {
      font-size: 2.8rem;
    }
    .latter-section-content {
      /* top: 0.2rem; */
      /* left: 42rem; */
    }
    .footer-head {
      font-size: 2.9rem;
    }
    .footer-2 {
      font-size: 2.1rem;
    }
    .img-footer {
      width: 6rem;
    }
    .footer-item {
      line-height: 18px;
    }
    .logo {
      gap: 0;
    }
    .facility-image {
      width: 8rem;
    }
    .facility-text p {
      font-size: 2rem;
    }
    .facility-text {
      margin-top: 0;
    }
    .facility-part {
      display: flex;
      flex-direction: column;
    }
    .facility-text p {
      line-height: 13.6px;
    }
    /* Hala */
    /* .trend-container {
      width: 20rem;
      height: 35.2rem;
    } */
    /* Hala */
    /* .heart-icon {
      right: 0rem;
    } */
    /* .trend-container-section {
      padding-left: 0rem;
    } */
    .star-icon {
      width: 1rem;
      height: 2rem;
      margin: auto;
    }
    .btn p {
      line-height: 20px;
    }
    .btn-icon-image {
      margin-top: 5.5px;
    }
  
    .rating {
      /* gap: 2px; */
      left: 3px;
    }
    /* Hala */
    /* .trend-product {
      width: 21rem;
    } */
    /* Hala */
    .trend-text-1 {
      line-height: 10px;
      font-size: 1.4rem;
    }
    .trend-text-2 {
      font-size: 1.8rem;
    }
    .trend-text-3 {
      font-size: 1.6rem;
    }
    .trend-text-span-1 {
      font-size: 1.2rem;
    }
    .trend-section {
      gap: 4.6rem;
      padding-bottom: 6rem;
    }
    .trend-heading-1 {
      line-height: 22px;
    }
    .trend-heading-2 {
      line-height: 20px;
    }
    .popular-text-1,
    .popular-text-2,
    .popular-text-3,
    .btn-deal,
    .deal-input {
      line-height: 10px;
    }
    /* .deals-container {
      padding: 0;
    } */
    /* .deal-img-1 {
      width: 46rem;
    } */
    /* .deal-img-2 {
      height: 26rem;
      width: 50rem;
    } */
    .deal-text {
      line-height: 17.2px;
    }
    .btn-deal {
      /* top: 16.7rem; */
    }
    .latter-section-content {
      top: -1.8rem;
      /* left: 42rem; */
    }
    /* Hala */
    /* .popular-image {
      width: 17rem;
    }
      
    .popular-1 {
      width: 18rem;
    } */
    /* Hala */
    .popular-text-2 {
      font-size: 1.4rem;
    }
    .container-nav {
        padding: 2rem 2.5rem;
    }

    .section-hero{
        align-items: flex-start;
        /* justify-content: flex-start; */
    }
    .footer-section{
        padding:1rem;
        gap:0rem;
    }
  }
  
  /* facility-image  , star -icon ,  */
  
  @media (max-width: 31em) {
    /* mobile  */
    /* .btn-mobile-nav[name="menu-outline"] {
      display: block;
    } */
    .btn-mobile-nav {
      display: block;
    }
  
    .navlink {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s ease-in;
      background-color: rgb(253, 242, 242);
  
      /* Hide navigation */
      /* Allows NO transitions at all */
      /* display: none; */
  
      /* 1) Hide it visually */
      opacity: 0;
  
      /* 2) Make it unaccessible to mouse and keyboard */
      pointer-events: none;
      /* z-index: 10000; */
  
      /* 3) Hide it from screen readers */
      visibility: hidden;
    }
    .nav-open .navlink {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
  
      transform: translateX(0);
    }
    .mobile-hide {
      display: none;
    }
  
    .nav-list {
      flex-direction: column;
    }
    .menu-icon {
      display: block;
    }
    .close-icon {
      display: none;
    }
    /* When menu is open: show close icon, hide menu icon */
    .nav-open .menu-icon {
      display: none;
    }
    .nav-open .close-icon {
      display: block;
    }
    .btn p {
      line-height: 12px;
    }
    .btn {
      width: 29%;
    }
    .btn-icon-image {
      margin-top: 2.5px;
    }
    .latter-section-content {
      /* left: 36rem; */
    }
    .ss-img {
      width: 29rem;
    }
    .hero-text {
      line-height: 16.4px;
    }
    /* .nav-open .navlink {
      opacity: 1;
    } */
  }
  
  @media (max-width: 26.2em) {
    .logo-name {
      display: none;
    }
    .section-hero {
      padding: 5.5rem;
    }
    .hero-image {
      max-width: 58rem;
    }
    .facility-text p {
      line-height: 10.6px;
    }
    .facility-image {
      width: 6rem;
    }
    .head-2 {
      font-size: 3.2rem;
    }
    

  
    /* New code */
    .collection-container {
      width: 100%;
      position: relative;
      padding: 10.6rem 8.6rem 8.6rem 10.6rem;
    }
    .collection-text {
      gap: 2.4rem;
    }
  
    .heading-1,
    .heading-2,
    .heading-3 {
      text-align: center;
      font-family: Mona Sans, Lato;
    }
  
    .heading-1,
    .heading-2 {
      font-size: 4.8rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  
    .heading-2 {
      color: #f82b6f;
    }
  
    .heading-3 {
      font-size: 2.4rem;
      color: #5c6167;
    }
  
    .collection-image {
      /* display: flex;
      align-items: center;
      justify-content: center; */
      position: relative;
      margin-top: 8.6rem;
    }
    /* #prev-btn,
    #next-btn {
      display: block;
    } */
    .image-container {
      /* display: flex; */
      position: relative;
      width: 100%;
      overflow: hidden;
    }
  
    .collection-img {
      width: 100%;
      max-width: 100%;
      transition: transform 0.5s ease;
    }
  
    .collection-img-1 {
      display: block;
    }
  
    /* .collection-img-2 {
      display: none;
      height: 50rem;
    } */
  
    .slider-btn {
      position: absolute;
      top: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      font-size: 2rem;
      padding: 1rem;
      cursor: pointer;
      z-index: 10;
    }
  
    .prev {
      left: 10px;
    }
  
    .next {
      right: 10px;
    }
    .btn-icon-image {
      margin-top: 1.5px;
    }
    .btn p {
      font-size: 1.4rem;
      line-height: 10px;
    }
  
    .heading-1,
    .heading-2 {
      font-size: 3.8rem;
    }
    /* .deal-img-1,
    .deal-img-2 {
      width: 67rem;
    } */
  
    /* .deal-img-2 {
      height: 32rem;
    } */
  
    .deals-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .deal-img-1,.deal-img-2{
        width: 70vw;

    }
    .btn {
      width: 30%;
    }
    .new-latter {
      width: 89vw;
      margin-top: 4rem;
    }
    .latter-text-1 {
      font-size: 2.1rem;
      text-align: left;
      line-height: 10px;
    }
    .latter-text-2 {
      font-size: 1.8rem;
      text-align: left;
      line-height: 10px;
    }
    .latter-section-content {
      top: 3rem;
      /* left: 38rem; */
    }
    .latter-header {
      gap: 1rem;
    }
    .rating {
        /* Hala */
      /* bottom: 5rem; */
      /* Hala */
    }
    .latter-btn {
      /* width: 30%; */
  
      font-size: 1.2rem;
    }
    .footer-2 {
      font-size: 1.7rem;
    }
    .img-footer {
      width: 4rem;
    }
    .footer-head {
      font-size: 2.2rem;
    }
    .footer-item {
      line-height: 10px;
    }
    .ss-img {
      width: 25rem;
    }
  
    /* Trend section
    .trend-slider {
      display: flex;
      position: relative;
    }
  
    .trend-slider-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      cursor: pointer;
      z-index: 2;
    }
    #prev-btn {
      left: 0.5rem;
    }
    .trend-container {
      flex: 0 0 50%; /* Each trend item takes 50% of the width */
    /* padding: 1rem;
    box-sizing: border-box;
  }
  .trend-section {
    margin-bottom: 6rem;
  }
  
  #next-btn {
    right: 0.5rem;
  }
  */
  /* Hala */
    /* .trend-container-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 4rem 10rem;
  
      row-gap: 12rem;
    } */
    /* Hala */
    .trend-container-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 4rem;
        row-gap: 6rem;
        column-gap: 3rem;
    }
    /* Hala */
    /* .trend-container {
      width: 27rem;
    }
    .trend-product {
      width: 27rem;
    } */
    /* Hala */
    .trend-text-3 {
      line-height: 14px;
    }
    .popular-container {
      grid-template-columns: repeat(2, 1fr);
      margin: 4rem 4rem;
      row-gap: 4rem;
      column-gap: 2rem;
    }
    /* Hala */
    /* .popular-image {
      width: 28rem;
      .popular-1 {
        width: 31rem;
      }
    } */
    /* Hala */
    .hide {
      display: inline-block;
    }
  }
  @media (max-width:22em){
    .section-hero{
        align-items: flex-start;
        /* justify-content: flex-start; */
    }

  }
