@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}
/* font-family: "Mona Sans", sans-serif; */
/* font-family: "Lato", serif; */

body {
  font-family: "Lato", serif;
  overflow: visible;
  /* max-width: 151.2rem; */
  /* min-width: 151.2rem; */
  /* overflow-x: hidden; */

  /* line-height: 1; */
}
.margin-right {
  margin-left: 4rem;
  margin-right: 4rem;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
  background-color: #ffffff; /* Add a background color to prevent transparency issues */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #f82d6f;
  /* color: #2b89f8; */
}
/* 
.icon-mobile-nav[name="close-outline"] {
  display: none;
} */
.container-nav {
  max-width: 100%;
  /* min-width: 151.4rem; */
  /* height: 10.4%; */
  padding: 2rem 10.5rem;
  text-align: center;
  justify-content: center;
  gap: 13.6rem;
  border-bottom: 0.6px solid #bbc5d0;
}

.flex {
  display: flex;
  gap: 13.6rem;
}

.logo-search {
  display: flex;
  gap: 8rem;
  /* gap: 12.4rem; */
  /* width: 50%; */
}

.logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
}
.bold {
  font-weight: 500;
}
.logo-name {
  font-family: "Mona Sans", sans-serif;
  font-weight: 300;
  font-size: 3.2rem;
  letter-spacing: -0.5;
  color: #2b2b2b;
}
.logo-img {
  height: 4.7rem;
  width: 4.5rem;
  /* margin-right: 0.2rem; */
}
/* .search-box {
  width: 49.9rem;
  height: 4.8rem;
  border: 0.1rem 0 0 0;
  border: 1px solid #adb1b6;
  /* border-radius: 3.5rem; */
/* padding: 10px 8px 10px 20px;
  gap: 1rem;
  border-radius: 3.5rem 0 0 0;
  opacity: 0px;
} */
/* .search-bar {
  display: flex;
  width: 49.9rem;
  height: 4.8rem;
  /* border: 0.1rem 0 0 0; */
/* border: 1px solid #adb1b6; */
/* border-radius: 3.5rem; */
/* padding: 10px 8px 10px 20px; */
/* gap: 1rem; */
/* border-radius: 3.5rem 0 0 0; */
/* opacity: 0px; */
.search-bar {
  display: flex;
  align-items: center;
  width: 48.9rem;
  /* height: 4.8rem; */
  border: 1px solid #adb1b6;
  border-radius: 3.5rem;
  /* padding: 10px 8px 10px 20px; */
  padding: 0.5rem 0.8rem 0.5rem 1.5rem;
}
.search {
  border: none;
  flex: 1;
  outline: none;
  color: #adb1b6;
  font-size: 2rem;
  /* font-weight: 100; */
  line-height: 2.4rem;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f82b6f; /* Background color */
  border-radius: 50%;
  height: 3.6rem;
  width: 3.6rem;
  position: relative;
}
/* .search-icon::before {
  content: "";
  background-color: #f82b6f;
  position: absolute;
  top: 0.21rem;
  right: 0.36rem;
  border-radius: 50%;
} */
.search-icon img {
  /* height: 60%; /* Adjust to fit inside the circle */
  /* width: 60%;  */
  height: 1.6rem;
  width: 1.6rem;
  object-fit: contain;
}
/* .search-icon {
  /* color: black; */
/* border-radius: 50%; */
/* position: absolute;
  height: 3.6rem;
  width: 3.6rem;
} */

.sign-in-box {
  display: flex;
  /* width: 50%; */
}
.icon {
  width: 2.2rem;
  height: 2.2rem;
}
.login-signin {
  display: flex;
  gap: 1.1rem;
  align-items: center;
  justify-content: center;
}
.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
.img-icon {
  height: 3.6rem;
  width: 3.6rem;
}
.login-text {
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 300;
  color: #5c6167;

  /* line-height: 2.16rem; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.sign-in-box {
  gap: 2.2rem;
}

/* second navigation  */
.container-nav-2 {
  /* min-width: 151.2rem; */
  width: 100%;
  height: 7%;
  padding: 1rem 10.5rem;
  text-align: center;
  justify-content: center;
  gap: 13.6rem;
  border-bottom: 0.6px solid #bbc5d0;
}

.h-1 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 1.7rem;
}
.h-2 {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 6rem;
}
.categories {
  background-color: #2b89f8;
  color: aliceblue;
  /* width: 17%; */
  /* height: 100%; */
  padding: 1.2rem 1.6rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  gap: 1rem;
  align-items: center;
}
.category-1 {
  display: flex;
}
.category-icon {
  height: 1.8rem;
  width: 1.8rem;
}
.category-icon-2 {
  height: 1rem;
  width: 1.8rem;
}
/* .navlink {
  display: flex;
  width: 52%;
  justify-content: space-between;
  text-align: center;
  margin: auto;
} */
.navlink {
  margin: auto;
}
.nav-list {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;
  gap: 3.6rem;
}

.list-item a {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #2b2b2b;
}

.text {
  font-size: 1.8rem;
  /* font-weight: 400; */
  font-family: Lato;
  /* font-size: 18px; */
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.phone-info-container {
  display: flex;
  width: 10%;
  height: auto;
  gap: 0.8rem;
  /* text-align: center; */
  /* justify-content: center; */
  align-items: center;
}

.phone-img {
  height: 2.4rem;
  width: 2.4rem;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.flex-start {
  display: flex;
  align-items: flex-start;
}
.text-1 {
  font-size: 1.2rem;
  font-weight: 400;
}
.text-2 {
  font-size: 1.6rem;
  font-weight: 700;
}
.phone-image {
  align-items: center;
  /* text-align: center; */
  /* justify-content: center; */
}

/* Hero section */

.section-hero {
  position: relative; /* Needed for positioning the ::before pseudo-element */
  /* min-width: 151.4rem;  */
  width: 100%; /* Adjust based on your layout */
  height: 63rem; /* Full viewport height, adjust as needed */
  display: flex; /* If you want to add content inside, you can align it */
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10.5rem;
  overflow: hidden; /* Ensures the pseudo-element doesn’t overflow the container */
}

.section-hero::before {
  content: ""; /* Creates an empty element for the background */
  position: absolute; /* Positioned relative to .section-hero */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire section */
  height: 100%; /* Cover the entire section */
  background-image: url("img/Hero\ Section\ \(2\)\ \(1\).png"); /* Path to the background image */
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling of the image */
  z-index: -1; /* Places the pseudo-element behind the content of .section-hero */
}

.head-1 {
  color: #2b89f8;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
}
.head-2 {
  font-family: Mona Sans;
  font-size: 4.6rem;
  font-weight: 600;

  /* line-height: 5.98rem; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 1.3;
}
.hero-container-text {
  width: 100%;
}
.small-img {
  position: absolute;
  top: 42rem;
  left: 53rem;
  z-index: 1;
}

.hero-img {
  /* vertical-align: middle; */
  position: absolute;
  bottom: -5rem;
  right: -4rem;
}

.hero-text {
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 38.4px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
  margin-top: 4rem;
}
.hero-container-text {
  gap: 4rem;
}
.btn {
  display: flex;
  width: 26%;
  padding: 1rem;
  padding-left: 3rem;
  border-radius: 1px;
  margin-top: 3rem;
  /* border: 1px solid white; */
  background: linear-gradient(92.96deg, #f82d6f -3.05%, #ffd04e 148.24%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);  */
}

.btn p {
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 38.4px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.btn-icon-image {
  width: 2.4rem;
  height: 2.4rem;
  align-items: center;
  margin-top: 6.5px;
}

/* Facility-part */
.facility-section {
  /* min-width: 151.4rem; */
  width: 100%;
  background-color: #1b1e39;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  gap: 3.6rem;
  padding: 3rem 19rem;
}
.facility-img {
  padding-top: 5px;
}

.facility-part {
  display: flex;
  gap: 1.2rem;
  padding: 8px;
}

.facility-text {
  align-items: center;
  margin-top: 11px;
}
.facility-text p {
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: aliceblue;
}

.font {
  font-weight: 600;
}

/* collection container  */

.collection-container {
  /* min-width: 151.2rem; */
  width: 100%;
  /* position: relative; */
  /* height: 84rem; */
  padding: 10.6rem 8.6rem 8.6rem 10.6rem;
}
.collection-text {
  gap: 2.4rem;
}

/* #prev-btn,
#next-btn {
  display: none;
} */
.image-container {
  display: flex;
}

.heading-1 {
  font-family: Mona Sans;
  font-size: 4.8rem;
  font-weight: 500;
  text-transform: uppercase;
  /* line-height: 57.6px; */
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.heading-2 {
  font-family: Mona Sans;
  font-size: 4.8rem;
  text-transform: uppercase;
  font-weight: 500;
  /* line-height: 57.6px; */
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f82b6f;
}
.heading-3 {
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 400;
  /* line-height: 28.8px; */
  text-align: center;
  color: #5c6167;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.collection-image {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* text-align: center; */
  /* margin: auto; */
  margin-top: 8.6rem;
  /* gap: 3.3rem; */
}
.collection-img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
}

.collection-img-1 {
  width: 55%;
  margin-right: 3.3rem;
  /* height: 20%; */
}

.collection-img-2 {
  width: 40%;
  height: 36rem;
  /* height: 25%; */
}

/* trend-section */
.trends-section {
  width: 89vw;
  margin: auto;
}

.trend-section {
  /* min-width: 151.2rem; */
  width: 100%;
  /* height: 74rem; */
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  padding-bottom: 8.6rem;
  gap: 8.6rem;
}

.trend-containers {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem; */
  /* width: 151.2rem; */
  /* margin-left: 5rem; */
  /* margin: auto;
  align-items: center;
  justify-content: center; */
}
.trend-container {
  position: relative;
  height: 38rem;
  width: 27rem;
}
.trend-container-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding-left: 4rem;
  /* padding: 1rem 4rem; */
}
.trend-product {
  width: 27rem;
  /* height: 38rem; */
}
.rating {
  position: absolute;
  display: flex;
  bottom: 9rem;
  left: 11px;
  background-color: #e5f8fa;
  padding: 0.5rem;
  gap: 4px;
}

/* .trend-product {
  display: flex;
  align-items: flex-end;
  position: relative;
} */
.trend-container {
  position: relative;
  width: 27rem;
  height: 40.2rem;
}

.heart-icon {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 1.1rem;
  right: 1.1rem;
  z-index: 1;
}
.trend-heading-1 {
  font-family: Mona Sans;
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 57.6px;
  text-transform: uppercase;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37405f;
}
.trend-span {
  color: #f82b6f;
}
.trend-heading-2 {
  font-family: Lato;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
}

.trend-text {
  /* display: flex;
  flex-direction: column; */
  /* gap: 2rem; */
  padding: 1rem 0.5rem;
}

.trend-text-1 {
  font-family: Mona Sans;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  text-transform: uppercase;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* color: #000000; */
  color: #37405f;
}

.trend-text-2 {
  font-family: Lato;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  margin-bottom: 1rem;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  /* background: var(--Medium-Gray, #5C6167); */

  color: #5c6167;
}
.trend-text-3 {
  display: inline;
  margin-top: 2rem;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.trend-text-span-1 {
  font-family: Lato;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  text-decoration-line: line-through;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
}

.trend-text-span-2 {
  font-family: Lato;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f82d6f;
}

.rating-text-1 {
  font-family: Lato;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 16.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37405f;
}
.rating-text-2 {
  font-family: Lato;
  font-size: 1rem;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
  margin-top: 3px;
}

/* Popular Categories */
.popular-categorie {
  width: 84vw;
  margin: auto;
}
.popular-categories {
  /* min-width: 151.2rem; */
  /* min-width: 151.2rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8.6rem;
}
.popular-1 {
  width: 23rem;
}
.popular-image {
  width: 20rem;
}

.popular-containers {
  /* padding: 8.6rem 9rem; */
  margin: auto;
  width: 100%;
  /* padding: 8.6rem 9rem; */
  margin: auto;
}

.popular-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 1rem;
}

.popular-text {
  width: 87%;
  background-color: #353946;
  color: white;
  margin: -0.2rem;
  padding: 1rem;
  margin-left: 1px;
}

.hide {
  display: none;
}
.popular-text-1 {
  font-family: Lato;
  font-size: 2rem;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.popular-text-2 {
  font-family: Mona Sans;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 31.2px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f82d6f;
}

.popular-text-3 {
  font-family: Lato;
  font-size: 2rem;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

/* Section -Deals */
.deals-banner-section {
  /* max-width: 151.2px; */
  width: 100%;
  /* top: 3082px; */
  /* padding: 0px 10.5rem 8.6rem 10.5rem; */
  padding: 0 3rem;
  padding-bottom: 10rem;
}

.deals-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 7.5rem;
  width: 100%;
  gap: 3rem;
}

.deal-container {
  /* max-width: 50%; */
  /* margin: auto; */
  position: relative;
}

.btn-deal {
  position: absolute;
  top: 23.7rem;
  left: 4.7rem;
  padding: 1.3rem 2.2rem 1.3rem 2.2rem;
  gap: 1rem;
  border: 0px 0px 1px 0px;
  opacity: 0px;
  background: #2b2b2b;
  color: white;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  /* angle: -180 deg; */
}
.deal-text {
  position: absolute;
  top: 7.8rem;
  left: 4.2rem;
  font-family: Mona Sans;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 43.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #383735;

  box-shadow: 0px 1px 3px 0px #10595c1a;

  box-shadow: 0px 1px 2px 0px #1f4f531a;
}

.deal-img-1 {
  width: 57rem;
  /* height: 35rem; */
}
.deal-img-2 {
  width: 56.6rem;
  height: 31.5rem;
}

.deal-span {
  color: #f82d6f;
}

.new-latter-section {
  /* max-width: 151.2rem; */
  width: 100%;
  position: relative;
  display: flex; /* Align content horizontally */
  justify-content: space-between;
  align-items: center;
  /* padding: 2rem; */
  margin: auto;
  border-radius: 12px;
  margin-bottom: 8rem;
  background-image: url("img/News\ Latter\ Section.png"); /* Replace with your image path */
  background-size: cover; /* Ensures the image covers the section */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  color: #ffffff; /* Ensure text contrasts well with the background */
  /* background-color: #fecad5; */
}
.new-latter {
  width: 84vw;
  margin: auto;
}
.latter-section-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8.2rem;
  left: 51.7rem;
  gap: 4.2rem;
  /* padding: 1rem; */
}

.latter-header {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
}

.latter-text-1 {
  font-family: Mona Sans;
  font-size: 4rem;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37405f;
}

.latter-text-2 {
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #4f6175;
}

.latter-form {
  display: flex;
  gap: 1.2rem;
}

.deal-input {
  width: 60%;
  padding: 1rem 1.6rem 1rem 1.6rem;
  gap: 1rem;
  border-radius: 4px;
  border: none;
  /* opacity: ; */
  color: #ffffff;
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
}

.latter-btn {
  /* width: 30%; */
  padding: 1.5rem 2rem;
  gap: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #f82b6f;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 300;
  /* line-height: 27px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

/* Footer Section */

.footer-section {
  /* max-width: 151.2rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 473.8rem;
  padding: 6.4rem 10.5rem 0 9.5rem;
  gap: 3rem;
  /* margin: auto; */
  background: #f3f3f3;

  /* opacity: 0px; */
}
.footer-section-1 {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
}
.footer-section-2 {
  display: flex;
  flex-direction: column;
  gap: 4.2rem;
  padding: 1rem 2rem;
}

.footer-part-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer-1 {
  display: flex;
}
.footer-3 {
  display: flex;
  gap: 2px;
}
.footer-part-img-3 {
  padding: 2px 7px 2px 7px;
  gap: 1rem;
  border: 0.4px;
  border: 1px solid black;
  /* opacsity: 0px; */
}

.footer-2 {
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 400;
  /* line-height: 25.2px; */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
}

.img-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-head {
  font-family: Mona Sans;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 30.94px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #37405f;
}
.footer-lists {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.footer-list {
  gap: 1.6rem;
  padding-left: 2.5rem;
}

.footer-item {
  font-family: Lato;
  font-size: 2rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #5c6167;
  padding: 1rem 0;
}

.footer-part-2 {
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  /* justify-content: space-arosund; */
  border-top: 1px solid #d4d2d2;
  padding: 1.4rem 0;
}

.footer-part-2 p {
  font-family: Lato;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 21.6px;
  text-align: left;
  color: #5c6167;
}

.ss-img {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 1rem;
}
